{% extends 'layout.html' %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock  %}

{%block content%}


<table>
    <tr>
        <th>Flavour Name</th>
        <th>Flavour Type</th>
        <th>Total</th>

    </tr>
    {% for q in flavour_list %}
    <tr>
        <td> <a href="{% url 'list_id' q.id %}">{{q.name}}</a></td>
        <td>{{q.variety}}</td>
        <td>{{q.total}}</td>
        <td><a href="{% url 'update' q.id %}">Update</a></td>

    </tr>
    {% endfor %}
 </table>

{% endblock %}

